<ion-view view-title="Input">
  <ion-content>

    <h1>I'm in input</h1>

    <form name="inputForm" ng-submit="addPost(post)">
      <div class="list list-inset">
        <!-- <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date">
        </label> -->
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" placeholder="date" id="date" name="date" ng-model="post.date">
        </label>
        <label class="item item-input">
          <span class="input-label">Month</span>
          <input type="text" placeholder="month" id="month" name="month" ng-model="post.month">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="item" id="item" name="item" ng-model="post.item">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="amount" id="amount" name="amount" ng-model="post.amount">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="category" id="category" name="category" ng-model="post.category">
        </label>
          <!-- Add drop down menu for category
          <label class="item item-input">
            <input type="text" placeholder="Category">
          </label> -->
          <button type="submit" class="button button-small button-dark">
            Add
          </button>
      </div>
    </form>

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
