<ion-view view-title="List">
  <ion-content>

    <h1>Total: {{getTotal()}}</h1>

    <h1>I'm in list</h1>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Sort by
        </div>
        <select ng-model="selected">
          <option value="Jan">Jan</option>
          <option value="Feb">Feb</option>
          <option value="Mar">Mar</option>
          <option value="Apr">Apr</option>
          <option value="May">May</option>
        </select>
      </label>

    </div>

    <!-- <div class="form-inline">
      <label for="sort">  Sort by month</label>
      <select class="form-control" id="sort"  ng-model="selection">
        <option value="Jan">Jan</option>
        <option value="Feb">Feb</option>
        <option value="Mar">Mar</option>
        <option value="Apr">Apr</option>
        <option value="May">May</option>
        <option value="Jun">Jun</option>
        <option value="Jul">Jul</option>
        <option value="Aug">Aug</option>
        <option value="Sep">Sep</option>
        <option value="Oct">Oct</option>
        <option value="Nov">Nov</option>
        <option value="Dec">Dec</option>
      </select>
    </div> -->


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="spending in something | orderBy: selected" type="item-text-wrap" href="#/list/{{spending.id}}/edit">

        <h2>{{spending.item}}</h2>
        <p>{{spending.month}}</p>
        <p>{{spending.amount}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
